CAM_USER=your-username
CAM_PASS=your-password
CAPS_FILE=your-capabilities-file
CAMERA_IPS="10.20.2.121 10.20.2.122 10.20.2.123 10.20.2.124"
EXCEL_EXPORT_FILES="MileT.xlsx MileO.xlsx MiniRT.xlsx MiniRO.xlsx"
EXCEL_APPLY_FILE="apply.xlsx"
